{% load i18n %}

<div class="subnav">
    <ul class="nav nav-pills">
        {% for action in content_actions %}
        {% if action.children %}
            <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ action.title }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for sub_action in action.children %}
                <li><a href="{{ sub_action.url }}">{{ sub_action.title }}</a></li>
            {% endfor %}
            </ul>
            </li>
        {% else %}
        <li><a href="{{ action.url }}">{{ action.title }}</a></li>
        {% endif %}
        {% endfor %}
  </ul>
</div>
