{% extends "ecm/content_base.html" %}

{% load i18n %}

{% block content_title %}
    <h1>{% trans "Security Matrix for state" %} : {{ object.title }}</h1>
{% endblock content_title %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
        {{ form.management_form }}
        <table class="table table=stripped">
            <thead>
                <tr>
                    <th></th>
                    {% for h in form.headers %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for f in form %}
                    <tr>
                        <th>{{ f.initial.permission.title }}</th>
                        {% for field in f %} {{ field }}{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <input class="btn btn-primary btn-large"
                    type="submit"
                    value="{% trans 'Update' %}">
            <a href="{{ object.get_absolute_url }}"
                class="btn btn-inverse btn-large">{% trans 'Cancel' %}
            </a>
        </div>
    </form>
{% endblock content %}
