{% load ecm_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django-ECM{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ecm/css/screen.css" rel="stylesheet">

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container-fluid">
              <a class="brand" href="/">
                  {% block brand %}Django-ECM{% endblock brand %}
              </a>
              {% include "ecm/user.html" %}
              {% show_navbar %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span2">
                {% block leftcolumn %}
                {% endblock leftcolumn %}
            </div><!--/span-->

            <div class="span9">
                {% include "ecm/breadcrumb.html" %}
                {% include "ecm/messages.html" %}
                {% if actions %}
                    {% include "ecm/actions.html" %}
                {% endif %}
                {% block centercolumn %}
                {% endblock centercolumn %}
            </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        {% block copyright %}<p>&copy; Company 2012</p>{% endblock copyright %}
      </footer>

      </div><!--/.fluid-container-->
      <script src="{{ STATIC_URL }}ecm/js/jquery/jquery.js"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>

